* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    max-width: 1100px;
    margin: 0 auto;
}
/* ==============
header area style
================= */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo-area {
    display: flex;
    justify-content: center;
    align-items: center;

}
.logo-area  img {
   width: 30px;
   height: 30px;
}

.logo-area h3 {
    font-family: hind madurai;
    margin-left: 10px;
    color: #006747;
    font-weight: bold;
    
}
header ul {
    display: flex;
}
header ul li {
    list-style: none;
    margin: 10px;
    color: black;
    font-weight: 700;

}
header ul .money img {
    max-width: 15px;
}
header ul .heart-icon,
header ul .money {
    background-color: #ECFFF0;
    border-radius: 25px;
    padding: 10px 25px;
}
#hart {
    margin-left: 7px;
}
#hart .fa-heart {
    color: #ED1C24;
}

#money .fa-credit-card {
    color: #F9A325;
}
.copy-item {
    background-color: #00A63E;
    padding: 10px 25px ;
    border-radius: 20px;
    color: white;
}
#copy {
    margin-right: 7px;
}

/* banner area style */

.banner {
    margin: 0 auto;
    background-color: #006747;
    color: white;
    text-align: center;
    padding: 15px 0;
}
.banner img {
    max-width: 50px;
    text-align: center;
}
.banner h2 {
    font-family: hind madurai;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 7px;
}
.banner p {
    font-family: hind madurai;
    font-style: 20px;
    font-weight: 600;
}

/* card area style */
.card-items-area {
    background-color: #F5FFF6;
}
.card-area {
    display: grid;
    grid-template-columns: auto auto auto;
   column-gap: 15px;
}
.flex-items {
    display: flex;
    justify-content:space-between;
    padding-bottom: 30px;
}

.card {
    max-width: 250px;
    padding: 20px;
    margin-top: 25px;
    box-shadow: 3px 7px 14px gray;
    background-color: #fff;
}
.card-icon{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.card-icon-1 img {
    max-width: 25px;
    background-color: #FFE3E2;
    padding: 7px;
    border-radius: 8px;
}
.card-icon {
    margin-top: 8px;
}
.card-discription {
    margin-top: 10px;
}
.card-discription .title{
    font-family: hind madurai;
    font-weight: bold;
    font-size: 14px;

}
.card-discription .hotline-number{
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: bold;
}
.card-discription .all-btn {
    font-size: 10px;
    background-color: #F2F2F2;
    border-radius: 15px;
    padding: 8px;
}
.card-discription .two-btn{
    margin-top: 25px;
}
.copy-btn,
.call-btn {
    padding: 5px 20px;
    border-radius: 5px;
    border: 0;
    max-width: 50%;
}
.copy-btn .fa-clone,
.call-btn .fa-phone{
    font-size: 8px;
    margin-right: 4px;
}
.copy-btn {
    background-color: #F2F2F2;
}
.copy-btn:hover {
    background-color:black;
    color: white;
}
.call-btn{
   background-color: green;
   color: white;
   margin-left: 22px;
}

/* call history style */
.call-history-area {
    border: 2px solid red;
    width: 300px;
    background-color: #fff;
    margin-top: 25px;
    box-shadow: 3px 7px 14px gray;

}
.call-items {
    display: flex;
    justify-content: space-between;
}
.call-item-left {
    margin-top: 20px;
    padding-left: 10px;
}
.call-item-left span .fa-clock-o {
   margin-right: 5px;

}
.call-item-right {
    margin-top: 18px;
    padding-right: 10px;
}
.call-item-right .clear-btn {
    background-color: green;
    padding: 5px 20px;
    border-radius: 20px;
    border: 0;
    color: #fff;
}
.call-description {
    margin-top: 20px;
    padding: 0 10px;
}
.call-area {
     display: flex;
    justify-content: space-between;
    background-color: #EEF5FA;
    padding: 10px 10px;
    border-radius: 7px;
}
.call-area .call-left p {
    font-family: intel;
    font-size: 16px;
    font-weight: 600;
    color: black;
}
.call-area .call-left span,
.call-area .call-right p {
    font-family: hind madurai;
    font-size: 18px;
    font-weight: 400;
    color: #5C5C5C;
    border
}
.call-area .call-right p {
    margin-top: 15px;
    font-size: 18px
}
.call-items {
    margin-bottom: 20px;
}




